body{
    font-family:'Times New Roman', Times, serif;
}

.container {
    width: 575px;
    height: 825px;
  
    background-color: #797978;
    padding-left: 30px;
  }
  
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }

  #calculate{
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: green;
    margin-right: 20px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    padding: 10px 10px;
    margin-top: 45px;
    background-color: #fff;
    color: rgb(44, 3, 3);
    font-weight: bolder;
    border-radius: 3px;
    text-align: center;
    border-color: #212121;
    border: 3px solid black;
    font-family:'Times New Roman', Times, serif;
  }
 
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
 
